export RAILS_ENV=development
export DATABASE_HOST=localhost
export POSTGRES_USERNAME=postgres
export POSTGRES_PASSWORD=postgres123
export AWS_ACCESS_KEY_ID=minio
export AWS_SECRET_ACCESS_KEY=minio123
export AWS_ENDPOINT=http://127.0.0.1:9000
export TZ="Asia/Tokyo"
